<a href="https://colab.research.google.com/github/ianara01/Park-Sangjin/blob/master/%EB%A9%8B%EC%82%AC_%ED%8C%8C%EC%9D%B4%EC%8D%AC%EB%B0%B1%EC%97%94%EB%93%9C12%EA%B8%B0_day11_%EC%97%AC%EB%9F%AC%EA%B0%80%EC%A7%80%EB%9D%BC%EC%9D%B4%EB%B8%8C%EB%9F%AC%EB%A6%AC_%EC%9D%B4%EB%AF%B8%EC%A7%80%EC%B2%98%EB%A6%ACb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 리스트, 튜플, 딕셔너리, 셋

In [ ]:
a = [2,4,3,1,5]
a

[2, 4, 3, 1, 5]

In [ ]:
a.append(100)
a

[2, 4, 3, 1, 5, 100]

In [ ]:
s = {2,4,3,1,5}
s

{1, 2, 3, 4, 5}

In [ ]:
s[0]

TypeError: 'set' object is not subscriptable

In [ ]:
d = {2:4, 3:9, 1:1}
d

{2: 4, 3: 9, 1: 1}

In [ ]:
d[4]=16
d

{2: 4, 3: 9, 1: 1, 4: 16}

In [ ]:
t = (1,2,3,4)
t

(1, 2, 3, 4)

In [ ]:
def somefunc():
  return 1, 2, 3

somefunc()

(1, 2, 3)

In [ ]:
tt = 1,2,3,4
tt

(1, 2, 3, 4)

In [ ]:
n1 = 1
n2 = 2

In [ ]:
nn1, nn2 = 1, 2

In [ ]:
a = [1, 2, 3, 5]
x, *y = a

In [ ]:
from collections import namedtuple
Point = namedtuple('Point', ['x', 'y'])
p = Point(11, 22)
print(p.x, p.y)

11 22

In [ ]:
from collections import namedtuple

# Employee namedtuple 생성
Employee = namedtuple('Employee', ['name', 'age', 'department'])

# Employee 객체 생성
employee = Employee('John Doe', 30, 'Sales')

# 속성 접근
print(employee.name)  # John Doe 출력
print(employee.age)  # 30 출력
print(employee.department)  # Sales 출력

# 딕셔너리처럼 사용
print(employee._asdict())  # {'name': 'John Doe', 'age': 30, 'department': 'Sales'} 출력

John Doe
30
Sales
{'name': 'John Doe', 'age': 30, 'department': 'Sales'}

In [ ]:
from collections import deque
d = deque(["task1", "task2", "task3"])
d.append("task4")
print("Handling", d.popleft())

Handling task1

In [ ]:
d

deque(['task2', 'task3', 'task4'])

In [ ]:
from collections import deque

# deque 생성
queue = deque()

# 데이터 추가
queue.append('a')
queue.append('b')
queue.append('c')

# 데이터 추출
print(queue.popleft())  # a 출력
print(queue.popleft())  # b 출력
print(queue.popleft())  # c 출력

# 덱 확인
print(queue)  # deque([]) 출력

a
b
c
deque([])

In [ ]:
from collections import deque

# deque 생성
queue = deque([1, 2, 3])

# 데이터 추가
queue.appendleft(0)
queue.append(4)

# 데이터 추출
print(queue.popleft())  # 0 출력
print(queue.pop())  # 4 출력

# 덱 확인
print(queue)  # deque([1, 2, 3]) 출력

0
4
deque([1, 2, 3])

In [ ]:
!lscpu

Architecture:             x86_64
  CPU op-mode(s):         32-bit, 64-bit
  Address sizes:          46 bits physical, 48 bits virtual
  Byte Order:             Little Endian
CPU(s):                   2
  On-line CPU(s) list:    0,1
Vendor ID:                GenuineIntel
  Model name:             Intel(R) Xeon(R) CPU @ 2.20GHz
    CPU family:           6
    Model:                79
    Thread(s) per core:   2
    Core(s) per socket:   1
    Socket(s):            1
    Stepping:             0
    BogoMIPS:             4399.99
    Flags:                fpu vme de pse tsc msr pae mce cx8 apic sep mtrr pge mca cmov pat pse36 cl
                          flush mmx fxsr sse sse2 ss ht syscall nx pdpe1gb rdtscp lm constant_tsc re
                          p_good nopl xtopology nonstop_tsc cpuid tsc_known_freq pni pclmulqdq ssse3
                           fma cx16 pcid sse4_1 sse4_2 x2apic movbe popcnt aes xsave avx f16c rdrand
                           hypervisor lahf_lm abm 3dnowprefetch invpcid_single ssbd ibrs ibpb stibp
                          fsgsbase tsc_adjust bmi1 hle avx2 smep bmi2 erms invpcid rtm rdseed adx sm
                          ap xsaveopt arat md_clear arch_capabilities
Virtualization features:
  Hypervisor vendor:      KVM
  Virtualization type:    full
Caches (sum of all):
  L1d:                    32 KiB (1 instance)
  L1i:                    32 KiB (1 instance)
  L2:                     256 KiB (1 instance)
  L3:                     55 MiB (1 instance)
NUMA:
  NUMA node(s):           1
  NUMA node0 CPU(s):      0,1
Vulnerabilities:
  Gather data sampling:   Not affected
  Itlb multihit:          Not affected
  L1tf:                   Mitigation; PTE Inversion
  Mds:                    Vulnerable; SMT Host state unknown
  Meltdown:               Vulnerable
  Mmio stale data:        Vulnerable
  Reg file data sampling: Not affected
  Retbleed:               Vulnerable
  Spec rstack overflow:   Not affected
  Spec store bypass:      Vulnerable
  Spectre v1:             Vulnerable: __user pointer sanitization and usercopy barriers only; no swa
                          pgs barriers
  Spectre v2:             Vulnerable; IBPB: disabled; STIBP: disabled; PBRSB-eIBRS: Not affected; BH
                          I: Vulnerable (Syscall hardening enabled)
  Srbds:                  Not affected
  Tsx async abort:        Vulnerable

In [ ]:
from multiprocessing import Process

def process_function():
    print("프로세스 실행 중")

if __name__ == '__main__':
    process = Process(target=process_function)
    process.start()
    process.join()  # 프로세스가 종료될 때까지 기다림
    print("main process")

프로세스 실행 중
main process

In [ ]:
from multiprocessing import Process

def work(id):
    print(f"Process {id} working...")

if __name__ == '__main__':
    processes = [Process(target=work, args=(i,)) for i in range(2)]

    for p in processes:
        p.start()

    for p in processes:
        p.join()

Process 0 working...
Process 1 working...

In [ ]:
[Process(target=work, args=(i,)) for i in range(2)]

[0, 1]

In [ ]:
t = (1, 2)
t

(1, 2)

In [ ]:
tt = (1,)

In [ ]:
tt

(1,)

In [ ]:
type(tt)

tuple

In [ ]:
from multiprocessing import Process, Value, Array

def add_one(number, array):
    number.value += 1
    for i in range(len(array)):
        array[i] += 1

if __name__ == '__main__':
    number = Value('i', 0)
    array = Array('i', range(5))

    processes = [Process(target=add_one, args=(number, array)) for _ in range(10)]

    for p in processes:
        p.start()

    for p in processes:
        p.join()

    print(f"Number: {number.value}")
    print(f"Array: {list(array)}")

Number: 10
Array: [10, 11, 12, 13, 14]

In [ ]:
from multiprocessing import Pool

def square(n):
    return n * n

if __name__ == '__main__':
    with Pool(4) as p:
        results = p.map(square, range(10))
    print(results)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

pickle

In [ ]:
import pickle

data = {'a': [1, 2.0, 3, 4+6j],
        'b': ("character string", b"byte string"),
        'c': {None, True, False}}

with open('data.pickle', 'wb') as f:
    pickle.dump(data, f)

In [ ]:
with open('data.pickle', 'rb') as f:
    loaded_data = pickle.load(f)

In [ ]:
loaded_data

{'a': [1, 2.0, 3, (4+6j)],
 'b': ('character string', b'byte string'),
 'c': {False, None, True}}

In [ ]:
# txt
with open("new.txt", 'w') as f:
  f.write("hello")
with open("new.txt", 'r') as f:
  content = f.read()
content

'hello'

In [ ]:
# json
import json
data = {1:1, 2:2}
with open("new.json", "w") as f:
  json.dump(data, f)

In [ ]:
with open("new.json", "r") as f:
  json_content = json.load(f)
json_content

{'1': 1, '2': 2}

# pickle 실습
- 10:40까지
- 디스코드에 체크해 주세요
1. 사용자의 프로필 정보(이름, 나이, 이메일)를 담은 딕셔너리를 **`pickle`**을 사용하여 파일에 저장하고, 다시 로드하는 프로그램을 작성하세요.
2. 여러 개의 사용자 정보를 담은 리스트를 **`pickle`**로 파일에 저장하고, 파일에서 로드한 후, 특정 조건(예: 나이가 30 이상인 사용자)에 맞는 사용자만 필터링하는 프로그램을 작성하세요.

In [ ]:
# 1. 사용자의 프로필 정보(이름, 나이, 이메일)를 담은 딕셔너리를 pickle을 사용하여 파일에 저장하고, 다시 로드하는 프로그램을 작성하세요.
profile = {"name":"일론머스크", "age":25, "email":"a@a.net"}

In [ ]:
with open("profile.pickle", "wb") as f:
  pickle.dump(profile, f)

In [ ]:
with open("profile.pickle", "rb") as f:
  loaded_profile = pickle.load(f)

In [ ]:
loaded_profile

{'name': '일론머스크', 'age': 25, 'email': 'a@a.net'}

In [ ]:
# 2. 여러 개의 사용자 정보를 담은 리스트를
# pickle로 파일에 저장하고,
# 파일에서 로드한 후,
# 특정 조건(예: 나이가 30 이상인 사용자)에 맞는 사용자만 필터링하는 프로그램을 작성하세요.

In [ ]:
profiles = people = [
    {'name': '일론머스크', 'age': 25, 'email': 'a@a.net'},
    {'name': '김민준', 'age': 28, 'email': 'minjun@gmail.com'},
    {'name': '이서연', 'age': 23, 'email': 'seoyeon@naver.com'},
    {'name': '박지훈', 'age': 31, 'email': 'jihoon@daum.net'},
    {'name': '최유진', 'age': 27, 'email': 'yujin@gmail.com'},
    {'name': '정현우', 'age': 29, 'email': 'hyunwoo@naver.com'},
    {'name': '강수빈', 'age': 24, 'email': 'subin@gmail.com'},
    {'name': '윤도현', 'age': 33, 'email': 'dohyun@daum.net'},
    {'name': '임지안', 'age': 26, 'email': 'jian@naver.com'},
    {'name': '한소민', 'age': 30, 'email': 'somin@gmail.com'},
    {'name': '송태양', 'age': 22, 'email': 'taeyang@daum.net'},
    {'name': '오하늘', 'age': 28, 'email': 'hanuel@gmail.com'},
    {'name': '서준호', 'age': 32, 'email': 'junho@naver.com'},
    {'name': '권민서', 'age': 25, 'email': 'minseo@gmail.com'},
    {'name': '황지민', 'age': 29, 'email': 'jimin@daum.net'},
    {'name': '신예은', 'age': 27, 'email': 'yeeun@naver.com'},
    {'name': '류동훈', 'age': 34, 'email': 'donghun@gmail.com'},
    {'name': '남혜원', 'age': 24, 'email': 'hyewon@daum.net'},
    {'name': '문승현', 'age': 31, 'email': 'seunghyun@naver.com'},
    {'name': '배지우', 'age': 26, 'email': 'jiwoo@gmail.com'},
    {'name': '조하린', 'age': 28, 'email': 'harin@daum.net'},
    {'name': '구민재', 'age': 33, 'email': 'minjae@naver.com'},
    {'name': '안서진', 'age': 25, 'email': 'seojin@gmail.com'},
    {'name': '홍유찬', 'age': 30, 'email': 'yuchan@daum.net'},
    {'name': '양지성', 'age': 27, 'email': 'jisung@naver.com'},
    {'name': '백서아', 'age': 29, 'email': 'seoa@gmail.com'},
    {'name': '천민규', 'age': 32, 'email': 'mingyu@daum.net'},
    {'name': '노하진', 'age': 24, 'email': 'hajin@naver.com'},
    {'name': '곽승윤', 'age': 28, 'email': 'seungyun@gmail.com'},
    {'name': '유시우', 'age': 26, 'email': 'siwoo@daum.net'}
]

In [ ]:
with open("profiles.pickle", "wb") as f:
  pickle.dump(profiles, f)

In [ ]:
with open("profiles.pickle", "rb") as f:
  loaded_profiles = pickle.load(f)

In [ ]:
# 특정 조건(예: 나이가 30 이상인 사용자)에 맞는 사용자만 필터링하는 프로그램을 작성하세요.
output = list(filter(lambda x : x['age']>=30,loaded_profiles ))

In [ ]:
output

[{'name': '박지훈', 'age': 31, 'email': 'jihoon@daum.net'},
 {'name': '윤도현', 'age': 33, 'email': 'dohyun@daum.net'},
 {'name': '한소민', 'age': 30, 'email': 'somin@gmail.com'},
 {'name': '서준호', 'age': 32, 'email': 'junho@naver.com'},
 {'name': '류동훈', 'age': 34, 'email': 'donghun@gmail.com'},
 {'name': '문승현', 'age': 31, 'email': 'seunghyun@naver.com'},
 {'name': '구민재', 'age': 33, 'email': 'minjae@naver.com'},
 {'name': '홍유찬', 'age': 30, 'email': 'yuchan@daum.net'},
 {'name': '천민규', 'age': 32, 'email': 'mingyu@daum.net'}]

In [ ]:
# map
list(map(lambda x : x['age'], loaded_profiles ))

[25,
 28,
 23,
 31,
 27,
 29,
 24,
 33,
 26,
 30,
 22,
 28,
 32,
 25,
 29,
 27,
 34,
 24,
 31,
 26,
 28,
 33,
 25,
 30,
 27,
 29,
 32,
 24,
 28,
 26]

In [ ]:
# filter
list(filter(lambda x : x['age']>=30,loaded_profiles ))

[{'name': '박지훈', 'age': 31, 'email': 'jihoon@daum.net'},
 {'name': '윤도현', 'age': 33, 'email': 'dohyun@daum.net'},
 {'name': '한소민', 'age': 30, 'email': 'somin@gmail.com'},
 {'name': '서준호', 'age': 32, 'email': 'junho@naver.com'},
 {'name': '류동훈', 'age': 34, 'email': 'donghun@gmail.com'},
 {'name': '문승현', 'age': 31, 'email': 'seunghyun@naver.com'},
 {'name': '구민재', 'age': 33, 'email': 'minjae@naver.com'},
 {'name': '홍유찬', 'age': 30, 'email': 'yuchan@daum.net'},
 {'name': '천민규', 'age': 32, 'email': 'mingyu@daum.net'}]

# 고객관리 클래스

In [ ]:
class Customer:
  def __init__(self):
    self.profiles = []

  def add_profile(self, data):
    self.profiles.append(data)
    self.save_profile()

  def save_profile(self):
    with open("customer_profile.pickle", "wb") as f:
      pickle.dump(self.profiles,f)

  def load_profile(self):
    with open("customer_profile.pickle", "rb") as f:
      self.profiles = pickle.load(f)

  def age_filter_profile(self, age ):
    return list(filter(lambda x : x['age']>=age,self.profiles ))

In [ ]:
c = Customer()

In [ ]:
c.load_profile()

In [ ]:
c.profiles

[{'name': '천민규', 'age': 32, 'email': 'mingyu@daum.net'},
 {'name': '일론머스크', 'age': 25, 'email': 'a@a.net'},
 {'name': '김민준', 'age': 28, 'email': 'minjun@gmail.com'},
 {'name': '이서연', 'age': 23, 'email': 'seoyeon@naver.com'},
 {'name': '박지훈', 'age': 31, 'email': 'jihoon@daum.net'},
 {'name': '최유진', 'age': 27, 'email': 'yujin@gmail.com'},
 {'name': '정현우', 'age': 29, 'email': 'hyunwoo@naver.com'},
 {'name': '강수빈', 'age': 24, 'email': 'subin@gmail.com'},
 {'name': '윤도현', 'age': 33, 'email': 'dohyun@daum.net'},
 {'name': '임지안', 'age': 26, 'email': 'jian@naver.com'},
 {'name': '한소민', 'age': 30, 'email': 'somin@gmail.com'},
 {'name': '송태양', 'age': 22, 'email': 'taeyang@daum.net'},
 {'name': '오하늘', 'age': 28, 'email': 'hanuel@gmail.com'},
 {'name': '서준호', 'age': 32, 'email': 'junho@naver.com'},
 {'name': '권민서', 'age': 25, 'email': 'minseo@gmail.com'},
 {'name': '황지민', 'age': 29, 'email': 'jimin@daum.net'},
 {'name': '신예은', 'age': 27, 'email': 'yeeun@naver.com'},
 {'name': '류동훈', 'age': 34, 'email': 'donghun@gmail.com'},
 {'name': '남혜원', 'age': 24, 'email': 'hyewon@daum.net'},
 {'name': '문승현', 'age': 31, 'email': 'seunghyun@naver.com'},
 {'name': '배지우', 'age': 26, 'email': 'jiwoo@gmail.com'},
 {'name': '조하린', 'age': 28, 'email': 'harin@daum.net'},
 {'name': '구민재', 'age': 33, 'email': 'minjae@naver.com'},
 {'name': '안서진', 'age': 25, 'email': 'seojin@gmail.com'},
 {'name': '홍유찬', 'age': 30, 'email': 'yuchan@daum.net'},
 {'name': '양지성', 'age': 27, 'email': 'jisung@naver.com'},
 {'name': '백서아', 'age': 29, 'email': 'seoa@gmail.com'},
 {'name': '천민규', 'age': 32, 'email': 'mingyu@daum.net'},
 {'name': '노하진', 'age': 24, 'email': 'hajin@naver.com'},
 {'name': '곽승윤', 'age': 28, 'email': 'seungyun@gmail.com'},
 {'name': '유시우', 'age': 26, 'email': 'siwoo@daum.net'}]

In [ ]:
c.age_filter_profile(33)

[]

In [ ]:
for p in profiles:
  c.add_profile(p)

In [ ]:
c.age_filter_profile(32)

[{'name': '천민규', 'age': 32, 'email': 'mingyu@daum.net'},
 {'name': '윤도현', 'age': 33, 'email': 'dohyun@daum.net'},
 {'name': '서준호', 'age': 32, 'email': 'junho@naver.com'},
 {'name': '류동훈', 'age': 34, 'email': 'donghun@gmail.com'},
 {'name': '구민재', 'age': 33, 'email': 'minjae@naver.com'},
 {'name': '천민규', 'age': 32, 'email': 'mingyu@daum.net'}]