<a href="https://colab.research.google.com/github/ianara01/Park-Sangjin/blob/master/%EB%A9%8B%EC%82%AC_%ED%8C%8C%EC%9D%B4%EC%8D%AC%EB%B0%B1%EC%97%94%EB%93%9C12%EA%B8%B0_day8_%EA%B0%9D%EC%B2%B4%EC%A7%80%ED%96%A5%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%B0%8D_TDD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

체크 포인트
- 나는 함수를 작성할 수 있나?
- 나는 클래스를 사용할 수 있나?
- 모듈, 패키지를 구성했나?
- 파이썬 파일 실행할 때, if __name__=="__main__" 사용했나?
- 디버그를 사용했나?
- .....

# 상속

In [ ]:
class Animal:
    def __init__(self, name):
        self.name = name

    def speak(self):
        raise NotImplementedError("Subclass must implement abstract method") # 실질적으로 구현할때 직접 만들어!

In [ ]:

class Dog(Animal):
    # def speak(self):
    #     return f"{self.name} 는 왈왈!"
    pass

In [ ]:
dog = Dog("강아지")

In [ ]:
dog.speak()

RuntimeError: No active exception to reraise

상속 예제 - 재벌집 막내아들

In [ ]:
class 회장:
  def __init__(self, name):
    self.company = "SKT"
    self.name = name
    self.money = 1000000000
  def earn_money(self):
    raise NotImplementedError("네가 사업 아이템을 만들지 않으면, 내 자식이 아니다!!")
  def spend_money(self,item, amount):
    print(f"{self.name}가 {item}에 {amount}를 썼습니다.")
    self.money -= amount

In [ ]:
이성민 = 회장("SK회장")

In [ ]:
이성민.spend_money("초밥", 50000)

SK회장가 초밥에 50000를 썼습니다.

In [ ]:
이성민.money

999950000

In [ ]:
class 손자(회장):
  def __init__(self, name, 인맥):
     super().__init__(name)
     self.인맥 = 인맥
  def earn_money(self):
     print("반도체 사업 진행")
  def 연애사업():
    print("데이트를 한다.")

In [ ]:
송준기 = 손자("도주이")

In [ ]:
송준기.company

'순양'

In [ ]:
송준기.spend_money("Airbnb", 5000000)

도주이가 Airbnb에 5000000를 썼습니다.

In [ ]:
송준기.earn_money()

반도체 사업 진행

In [ ]:
class Base1:
    def __init__(self):
        print("Base1의 __init__ 실행")
        super().__init__()
    def hello(self):
      print("Base1 hello")

class Base2:
    def __init__(self):
        print("Base2의 __init__ 실행")
        super().__init__()
    def hello(self):
      print("Base2 hello")

class Child(Base1, Base2):
    def __init__(self):
        print("Child의 __init__ 실행")
        super().__init__()

child = Child()
# 부모 클래스에서 super().__init__() 호출 안했을때
# Child의 __init__ 실행
# Base1의 __init__ 실행
# 부모 클래스에서 super().__init__() 호출 했을때
# Child의 __init__ 실행
# Base1의 __init__ 실행
# Base2의 __init__ 실행

Child의 __init__ 실행
Base1의 __init__ 실행
Base2의 __init__ 실행

In [ ]:
child.hello()

Base1 hello

### 문제 1: **직사각형 클래스**

- 직사각형의 가로와 세로 길이를 속성으로 가지는 `Rectangle` 클래스를 만드세요.
- 이 클래스에는 두 가지 메서드를 작성하세요:
    - `area()`: 직사각형의 면적을 반환하는 메서드.
    - `perimeter()`: 직사각형의 둘레를 반환하는 메서드.

In [ ]:
# 주석
class Rectangle:
  def __init__(self, width, height):
     self.width = width
     self.height = height
  def area(self):
    return self.width*self.height
  def perimeter(self):
    return 2*(self.width+self.height)

In [ ]:
rec = Rectangle(10,11)

In [ ]:
rec.perimeter()

42

# class 연습문제 풀기
- 11:10 까지
- 디스코드에 완료여부 체크해 주세요

클래스
- 클래스 만드는 방법
- init 함수
- 클래스에서 변수를 정의하는 방법
- 클래스에서 함수(메서드)를 정의하는 방법
- 클래스를 인스턴스(객체)로 만드는 방법
- 클래스에서 변수를 확인하는 방법
- 클래스에서 메서드를 사용하는 방법

In [ ]:
# class를 만드는 방법 - class 키워드를 사용한다
class 이름:
  pass

In [ ]:
# init 함수 - 인스턴스 생성시에 호출되는 함수. 기본적인 인스턴스의 초기화(변수 세팅 등)
# self를 주의하자
class A:
  def __init__(self):
    pass

In [ ]:
# 클래스를 인스턴스(객체)로 만드는 방법
# class는 설계도(자동차등의 설계도), 인스턴스 객체(실제 자동차)는 현실에 구현된 실체
a = A()

In [ ]:
a

In [ ]:
# 현실 예시
class 개발자:
  def __init__(self):
    print("파이썬을 익힌다")
    print("기업에 취직한다")
    print("프로젝트에 참여한다")

In [ ]:
dev1 = 개발자()

파이썬을 익힌다
기업에 취직한다
프로젝트에 참여한다

In [ ]:
# 클래스를 안쓰고 변수를 정의하는 방법
x = 1
print(x)

1

In [ ]:
x="hello"
y = x
y

'hello'

In [ ]:
def demo(x):
  project_name = x
  print(f"{project_name}을 진행한다")

In [ ]:
demo("스마트팜 프로젝트")

스마트팜 프로젝트을 진행한다

### 문제 2: **학생 관리 시스템**

- `Student` 클래스를 작성하세요. 이 클래스는 학생의 이름과 성적을 속성으로 가집니다.
- 성적은 리스트 형태로 저장되며, `add_grade()` 메서드를 통해 성적을 추가할 수 있습니다.
- `average()` 메서드를 통해 평균 성적을 계산하고 반환하는 기능을 구현하세요.

In [ ]:
# 생성할 때(init함수가 호출될 때) 학생 이름과 성적을 바로 받을건가? yes
class Student:
  def __init__(self, name, score):
    self.name = name
    self.score = score

In [ ]:
s1 = Student("도준이", 100)

In [ ]:
s1.score

100

In [ ]:
# 생성할 때(init함수가 호출될 때) 학생 이름과 성적을 바로 받을건가? no -> 미리 설정
class Student:
  def __init__(self):
    self.name = "도준이"
    self.score = 100

In [ ]:
s2 = Student()

In [ ]:
s2.name, s2.score

('도준이', 100)

In [ ]:
s2.name = "lion"

In [ ]:
s2.name

'lion'

- Student 클래스를 작성하세요. 이 클래스는 학생의 이름과 성적을 속성으로 가집니다.
- 성적은 리스트 형태로 저장되며, add_grade() 메서드를 통해 성적을 추가할 수 있습니다.
- average() 메서드를 통해 평균 성적을 계산하고 반환하는 기능을 구현하세요.

In [ ]:
class Student:
  def __init__(self, name, score=None):
    self.name = name
    # 초기값이 들어오면 score로 전달하고, 아니면 리스트로 초기화한다
    """
    if score is not None:
      self.score = score
    else:
      self.score = []
    """
    # 한줄로 만들면
    self.score = score if score is not None else []
  def add_grade(self, new_score): # 새로운 점수를 받아야 겠네
    # 이전의 점수 리스트에 추가해야 겠네
    self.score.append(new_score)
    # return

  # 점수의 평균을 구해야 되네
  # 뭐가 필요하지???
  def average(self):
    avg = sum(self.score)/len(self.score)
    return avg

In [ ]:
s3 = Student("tiger")

In [ ]:
s3.add_grade(45)
s3.add_grade(61)
s3.add_grade(78)

In [ ]:
s3.average()

61.333333333333336

In [ ]:
a = [1,2,3,4,5]
sum(a)/len(a)

3.0

# 프렌차이즈

In [ ]:
# 프렌차이즈 대표
# 설정 구상 - 지역, 구분(직영, 대형, 소형).....
# 이런 설정을 기본값을 줘서 할 건지, 아니면 고객이 사업한다고 하면 그때 세팅할 건지...

In [ ]:
class 가맹점1:
  def __init__(self):
    self.region="서울"
    self.division="직영"

In [ ]:
a = 가맹점1()

In [ ]:
a.region

'서울'

In [ ]:
a.division

'직영'

In [ ]:
class 가맹점2: # 가맹점 접수 받을때 지역과 구분을 넣어야 돼
  def __init__(self,region, division ):
    self.region=region
    self.division=division

  def 장사하기(self):
    print("장사가 잘 된다")

  def 고객판매(self, guest): # 어떤 고객에게 판매한다
    print(f"{guest}에게 판매를 한다")

In [ ]:
b = 가맹점2(region="제주도", division="대형")

In [ ]:
b.고객판매("일론머스크")

일론머스크에게 판매를 한다

In [ ]:
# class 멋사벡엔드개발자 (부모)
# class 신입개발자 <- 멋사백엔드개발자가 신입개발자로 되는거 (자식)

In [ ]:
class 멋사백엔드개발자:
  def __init__(self, name, skills = None):
    self.name = name
    self.skills = skills
    self.협업 = True
  def study(self, skill):
    self.skills.append(skill)

In [ ]:
lion = 멋사백엔드개발자(name = "lion", skills = []) # 처음 배우는 훈련생
tiger = 멋사백엔드개발자(name="tiger", skills = ["linux", "JAVA", "html", "C"]) # 경력 2년차 훈련생

In [ ]:
lion.study("python")

In [ ]:
lion.skills

['상속', 'python']

In [ ]:
class naver신입개발자(멋사백엔드개발자):
  def 검색엔진개발(self):
    print("네이버는 검색이야")
class kakao신입개발자(멋사백엔드개발자):
  def 카카오톡개발(self):
    print("카톡 개발 담당합니다.")

In [ ]:
naver1 = naver신입개발자(name = "lion", skills = ["python","django","cloud"])
naver2 = kakao신입개발자(name = "tiger", skills = ["python","django","cloud"])

In [ ]:
naver1.study("비즈니스")

In [ ]:
naver1.skills

['python', 'django', 'cloud', '비즈니스']

static method

In [ ]:
class Math:
    def add(x, y):
        return x + y
    def multiply(x, y):
        return x * y

In [ ]:
print(Math.add(5, 7))  # 12
print(Math.multiply(3, 4))  # 12

12
12

In [ ]:
class MathOperations:
    pi = 3.14

    @staticmethod
    def add(x, y):
        return x + y

    @classmethod
    def circle_area(cls, radius):
        return cls.pi * radius ** 2

# 사용 예
print(MathOperations.add(5, 3))  # 출력: 8
print(MathOperations.circle_area(5))  # 출력: 78.5

8
78.5

In [ ]:
class Temperature:
    def __init__(self, celsius):
        self._celsius = celsius

    @property
    def celsius(self):
        return self._celsius

    @celsius.setter
    def celsius(self, value):
        if value < -273.15:
            raise ValueError("Temperature below -273.15 is not possible")
        self._celsius = value

# 사용자는 직접 _celsius에 접근할 수 없으며,
# 프로퍼티를 통해 검증된 데이터만 설정할 수 있습니다.
temp = Temperature(25)
# temp.celsius = -300  # ValueError 발생

In [ ]:
# 인스턴스의 변수 불러오는 형태 a.변수명
# 인스턴스에서 메서드를 호출하는 형태 a.메서드명()
temp.celsius=-200

In [ ]:
temp._celsius

123

매직 메서드

In [ ]:
class A:
  def __init__(self) -> None:
     self.name = "도준이"
  def __str__(self):
    return self.name+"는 재벌집막내아들이다"
  def __repr__(self):
    return "world"

In [ ]:
a = A()

In [ ]:
print(a)

도준이는 재벌집막내아들이다

In [ ]:
print(a)

hello

In [ ]:
class NewInt:
  def __init__(self, num):
    self.num = num
  def __add__(self, other):
    return self.num + other.num*2
  def __str__(self):
    return str(self.num*1000)

In [ ]:
a = NewInt(1)
b = NewInt(2)

In [ ]:
a.num, b.num

(1, 2)

In [ ]:
print(a)

1000

In [ ]:
import unittest
import pytest

## TestCode
- pytest 어떻게 설치하나 : pip install pytest
- 어떻게 테스트 코드를 작성하나 : ....
- 어떻게 테스트를 수행하나 : 터미널에 pytest